/* Sección de Formación */
.parrafo_formación {
  font-size: 30px;
  margin: 10px 10px;
  padding: 10px;
  font-weight: bolder;
  text-shadow: #a99292 5px 5px 5px;
  line-height: 1.5;
}

.parrafo2 {
  font-size: 20px;
}

/* Experiencia */
.div_exp {
  color: #a99292;
  font-size: 25px;
  line-height: 1.5;
  font-weight: 500;
  font-style: italic;
}