/* Información personal */
.personal_info {
  width: 100%;
  max-width: 800px;
  text-align: center;
  margin: 20px auto;
  font-size: 20px;
  font-style: italic;
}

#parrafo_sobremi {
  margin-top: 10px;
  font-weight: bold;
}

.parrafo_personal {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: black;
  text-shadow: #a99292 3px 3px;
}